<h3>@Username , Voici la question @Counter</h3>

<p>@CurrentQuestion</p>
<button class="btn-success" @onclick="@(() => Answer("oui") )">Oui</button>
<button class="btn-danger" @onclick="@(() => Answer("non") )">Non</button>
@code {

}
