@page "/exo1"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
<AuthorizeView>
    <Authorized>
<h3>Quizz @context.User.FindFirst("Username").Value</h3>
@if(!QuizzIsFinished){
    @if(!string.IsNullOrWhiteSpace(Username)) {
        <Questions Username="@Username"
                   NotifyAnswer="ReceiveAnswer"
                   NotifyEndGame="NotifiedEndGame">
               </Questions>
    }
    else{
        <p>Entrez votre pseudo : <input @bind-value="Username" /></p>
    }
}
else {
    @foreach(string r in Answers) {
        <p>@r</p>
    }
    <h4>Merci d'avoir participer</h4>
}
    </Authorized>
   <NotAuthorized>
       <BlazorDemoWASM.Pages.Tools.RedirectToLogin />
   </NotAuthorized>
</AuthorizeView>
@code {

}